/* navbar */
#Kytitle {
  font-family: "Petit Formal Script", cursive;
  font-size: 30px;
  color: #222b3f;
  border-bottom: solid 2px rgb(255, 255, 255);
  text-transform: capitalize;
}

.navbar.navbar-transparent {
  background: transparent !important;
  padding-top: 25px;
  box-shadow: none;
}

.navbar .navbar-brand {
  font-weight: 600;
  margin: 5px 0;
  padding: 20px 15px;
  font-size: 14px;
  text-transform: uppercase;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar {
  border: 0;
  font-size: 14px;
  padding: 0;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  font-weight: 300;
  align-items: center;
  display: flex;
}
.navbar > .container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  display: block;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
button {
  text-transform: none;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  text-rendering: auto;
  /* color: -internal-light-dark(buttontext, rgb(170, 170, 170)); */
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  font: 400 13.3333px Arial;
}
.navbar .navbar-toggler .navbar-toggler-bar {
  display: block;
  position: relative;
  width: 24px;
  height: 2px;
  border-radius: 1px;
  margin: 0 auto;
}

.navbar.navbar-transparent .navbar-toggler .navbar-toggler-bar {
  background: #fff !important;
}

.navbar-transparent .navbar-nav .nav-item .nav-link:not(.btn) {
  color: #fff;
  border-color: #fff;
}

.navbar .navbar-toggler .navbar-toggler-bar + .navbar-toggler-bar {
  margin-top: 4px;
}

.navbar .navbar-nav .nav-item .nav-link {
  line-height: 1.6;
  margin: 15px 3px;
  padding: 10px 15px;
  opacity: 0.8;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar .navbar-nav .nav-item .nav-link p {
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5em;
  padding: 15px 0;
}

button:not(:disabled) {
  cursor: pointer;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 0%;
  margin-left: 5%;
}

.fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  /* not needed for fixed bottom */
  top: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.collapse:not(.show) {
  display: none;
}

.justify-content-end,
ul {
  justify-content: flex-end !important;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

ul {
  margin-top: 0;
}

.navbar .navbar-nav .nav-item .nav-link [class^="fa"] {
  font-size: 17px;
  position: relative;
  right: 5px;
}
.fa {
  width: 18px;
  text-align: center;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.nc-icon {
  display: inline-block;
  font: normal normal normal 14px/1 "nucleo-icons";
  font-size: inherit;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.nc-layout-11:before {
  content: "\ea36";
}

.nc-book-bookmark:before {
  content: "\ea0f";
}

.fa-github:before {
  content: "\f09b";
}

:before {
  box-sizing: border-box;
}

.navbar .navbar-collapse .nav-item .nav-link p {
  display: inline;
}

/* media Q navbar */
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar {
    justify-content: space-between;
  }
}
/* Li */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
}
@media screen and (max-width: 991px) {
  .navbar-collapse ul {
    position: relative;
    z-index: 3;
    height: 95%;
  }
}

@media screen and (max-width: 991px) {
  .navbar-collapse .navbar-nav > .nav-item > .nav-link {
    color: #9a9a9a !important;
  }
}

@media screen and (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    display: block !important;
    top: 0;
    width: 230px;
    right: 0;
    z-index: 1032;
    visibility: visible;
    background-color: #999;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    border-left: 1px solid #ccc5b9;
    padding-right: 0;
    padding-left: 40px;
    padding-top: 15px;
    transform: translateX(230px);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
}

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .container-fluid {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    max-width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .navbar-translate {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    transform: translateX(0);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .navbar-collapse {
    height: 100% !important;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}
/* 
@media (min-width: 576px) {
  .container-fluid {
    max-width: 540px;
  }
} */

@media (min-width: 992px) {
  .navbar-expand-lg > .container-fluid {
    flex-wrap: nowrap;
  }
}
